:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --rod-rotation: 60deg;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
}
.main {
  position: relative;
  display: flex;
  align-self: flex-end;
}
.buttonpanel {
  position: absolute;
  top: 50px;
}
#water {
  position: absolute;
  bottom: 0;
  align-self: flex-end;
  height: 5rem;
  width: 100%;
  background-color: rgba(0, 0, 255, 0.459);
}
#dock {
  height: 1rem;
  width: 10rem;
  background-color: brown;
  position: absolute;
  bottom: 5rem;
}
#fisherman {
  position: absolute;
  height: 3rem;
  width: 2rem;
  background-color: green;
  bottom: 6rem;
  left: 7rem;
}
#rod {
  position: absolute;
  height: 5rem;
  width: 1rem;
  background-color: black;
  bottom: 1rem;
  left: 1rem;
  transform-origin: bottom;
  rotate: var(--rod-rotation);
  transition: rotate 3s;
}
#line {
  position: absolute;
  height: 8rem;
  width: 4px;
  background-color: purple;
  rotate: calc(var(--rod-rotation) * -1);
  transform-origin: top;
  transition: transform 3s, height 3s;
}
.fish {
  position: absolute;
  left: 50vw;
  top: calc(2.5rem - 10px);
  height: 20px;
  width: 20px;
  transition: left 3s, top 3s;
}

.big {
  scale: 120%;
}

.small {
  scale: 80%;
}
